@import "tailwindcss";

* {
  cursor: none !important;
}
.page-transition {
  animation: fadeSlideIn 0.4s ease both;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideIn {
  from { opacity: 0; transform: translateX(60px); }
  to   { opacity: 1; transform: translateX(0); }
}
/* Chat scroll dizayn */
.chat-scroll::-webkit-scrollbar {
  width: 4px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
  background: #60a5fa;
}
/* Long press native menyu o'chirish */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Lekin inputlarda yozish ishlashi kerak */
input, textarea {
  -webkit-user-select: text;
  user-select: text;
}
/* Code editor scroll */
textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #60a5fa;
}

/* iframe scroll */
iframe::-webkit-scrollbar {
  width: 4px;
}

iframe::-webkit-scrollbar-track {
  background: transparent;
}

iframe::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}